
{% extends 'newsletter/base.html' %}
{% load static %}
{% block content %}{% load crispy_forms_tags %}

            <section class="imagebg text-center height-30" data-overlay="4" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
       
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8 col-lg-7">
                            <h1>Edit newsletter settings</h1>
                            <a class="btn btn--primary btn--icon" href="{% url 'newsletter_admin' %}">
  <span class="btn__text"><i class="stack-left-open"></i> Back to dashboard</span>
</a>

                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <form method="post">
                        <input type="hidden" name="user" value="{{ user }}" />{% csrf_token %}
    <div class="row">
      <div class="col-6">
      {{ form.name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.tagline|as_crispy_field }}


      </div>
    </div>
    {{ form.description|as_crispy_field }}

    {{ form.price|as_crispy_field }}
  <button class="btn btn--sm btn--primary type--uppercase" type="submit">Save changes</button>
  <hr>

</form>



<a class="btn btn--icon" href="delete-profile" onclick="if (!confirm('Are you sure? This action can\'t be undone. Your newsletter account will be removed.')) { return false }">
  <span class="btn__text"><i class="stack-trash icon--lg"></i> Delete newsletter account (Not reversible) »</span>
</a>
</div>
                </div>
            </section>

    {% endblock %}