

{% extends 'newsletter/base-stripped.html' %} 
{% load static %}

{% block content %}

<section class="space--sm switchable switchable--switch  ">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="height-50 imagebg border--round" data-overlay="2">
                                                <span style="z-index: 99;" class="label">{{ subscribers.count }} Insider members</span> <div class="background-image-holder" style="background: url(&quot;img/inner-8.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="{% static 'img/inner-8.jpg' %}">
                                                </div>
                                                <div class="pos-vertical-center col-md-10 boxed boxed--lg bg--none">
                                                   <span><h1> {{ newsletter.name }}</h1></span>
                                                    <p class="lead">
                                                      {{ newsletter.description }} 
                                                    </p>
                                                    {% if user.is_authenticated %}

                           {% if is_subscribed %}

                           <p>You're already an insider!</p>
                           {% else %}
                           <span>Become An Insider Now</span>
                           <div class="row">
                            <div class="col-md-6">
 <form role="form" method="POST" id="payment-form">
                       {% csrf_token %}
                      
                        <div class="row">
                          <div class="col-md-12">
                           
                         
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>
                    <div id="card-errors" style="margin-top: 10px; " role="alert"></div>      </div>
  </div>
                      
                        <div class="row"><div class="col-md-12">
                      <button type="submit" class="btn btn--primary"><i class="icon-class"></i> Join for ${{ newsletter.price }} / month</button>  </div>
                      </div>
                      </form>
                </div></div></div>
                 
                           
          {% endif %}

          {% else %}
        <a class="btn btn--primary type--uppercase" href="{% url 'signup-redirect' slug=newsletter.url_slug %}"> <span class="btn__text">
          Become An Insider Member
          </span> </a>
          {% endif %}
         
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of row--> 
                          
                                <!--end of container-->
                            </section>


            


<section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="masonry masonry-blog-magazine">
                                <div class="masonry-filter-container d-flex align-items-center">
                                    <span>Category:</span>
                                    <div class="masonry-filter-holder">
                                        <div class="masonry__filters" data-filter-all-text="All Categories"><ul><li class="active" data-masonry-filter="*">All Categories</li><li data-masonry-filter="design">Design</li><li data-masonry-filter="inspiration">Inspiration</li><li data-masonry-filter="marketing">Marketing</li></ul></div>
                                    </div>
                                </div>
                                <div class="masonry__container row masonry--active">
                                    


                                        {% for post in posts %}
                                    <div class="masonry__item col-md-6 col-12 filter-marketing" data-masonry-filter="Marketing">
                                        <a class="block" href="@{{ newsletter.url_slug }}/{{ post.url_slug }}">
                                            <article class="imagebg border--round" data-scrim-bottom="8">

                                              {% if post.video|length > 1 %}
                                                <div class="background-image-holder" style="background: url(http://img.youtube.com/vi/{{ post.video }}/0.jpg); opacity: 1;">
                                                    <img alt="background" src="http://img.youtube.com/vi/{{ post.video }}/0.jpg">
                                                </div>
                                                  {% else %}
                                                    <div class="background-image-holder" style="background: url( https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.RIyG41NmR9N_zvh5VCuNpgHaD4%26pid%3D15.1&f=1); opacity: 1;">
                                                    <img alt="background" src=" https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.RIyG41NmR9N_zvh5VCuNpgHaD4%26pid%3D15.1&f=1">
                                                </div>
                                                {% endif %}
                                               
                                                <div class="article__title">
                                                    <span>May 12th 2016</span>
                                                    <h4>{{ post.title }}</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                    <!--end item-->

                                    {% endfor %}
                                    
                                    
                                </div>
                                <!--end masonry container-->
                                <div class="pagination">
                                    <a class="pagination__prev" href="#" title="Previous Page">«</a>
                                    <ol>
                                        <li>
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li class="pagination__current">3</li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                    </ol>
                                    <a class="pagination__next" href="#" title="Next Page">»</a>
                                </div>
                            </div>
                            <!--end masonry-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>






            <section>
              
                 <div class="masonry">    <div class="masonry__container">
                        {% for post in posts %}
                  

                          <div class="masonry__item col-md-6 col-12 filter-design" data-masonry-filter="Design" style="position: absolute; left: 570px; top: 368px;">
                                        <a class="block" href="#">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                <div class="background-image-holder" style="background: url(&quot;img/blog-4.jpg&quot;); opacity: 1;">
                                                    <img alt="background" src="img/blog-4.jpg">
                                                </div>
                                                <div class="article__title">
                                                    <span>May 9th 2016</span>
                                                    <h4>Designing efficiently in the age of distraction</h4>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                      
                    
                    {% endfor %}
                </div>
            </section>


{% endblock %}